@model Model.Reservation

<h1>Booking gennemført</h1>
<b>Hej @Model.customer.firstName</b><br />

Din booking starter:
<h3>
    @Html.DisplayFor((model) => model.startTime)
</h3>

Din booking slutter:
<h3>
    @Html.DisplayFor((model) => model.endTime)
</h3>

Du skal være på bane:
<h3>@Html.DisplayFor((model) => model.courtNo)</h3>

<h2>Udstyr:</h2>
<p>Du har @(Model.shuttleReserved ? "" : "ikke") reserveret bolde</p>
<p>Du har tilvalgt at leje @Model.numberOfRackets ketjsere</p>