@model Model.Reservation

<h1 class="title">Booking gennemført</h1>

<hr />

<div class="confirmation">
    <h2>Hej @Model.customer.firstName</h2><br />

    <b>Din booking starter:</b>
    <p>
        @Html.DisplayFor((model) => model.startTime)
    </p>

    <b>Din booking slutter:</b>
    <p>
        @Html.DisplayFor((model) => model.endTime)
    </p>

    <b>Du skal være på bane:</b>
    <p>@Html.DisplayFor((model) => model.courtNo)</p>

    <h4>Udstyr:</h4>
    <p>Du har @(Model.shuttleReserved ? "" : "ikke") reserveret bolde</p>
    <p>Du har tilvalgt at leje <b>@Model.numberOfRackets ketjsere</b></p>

    <p><b>Pris:</b> @TempData["Price"] kr.</p>

</div>