@model IEnumerable<Model.Reservation>

@{
    ViewData["Title"] = "Booking";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.shuttleReserved)
            </th>
           

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.startTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shuttleReserved)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { item.id }) |
                    @Html.ActionLink("Details", "Details", new { item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { item.id })
                </td>
            </tr>
        }
    </tbody>
</table>